version: "3.7"
services:
  app:
    image: app
    working_dir: /usr/src/app/
    command: node app
    ports:
      - 3000:3000
    volumes:  
      - /usr/src/app/
      - /usr/src/node_modules/
    build:
      context: ./
      dockerfile: app/Dockerfile
 